body,
html {
  background: #fbfbfb;
}

.error {
  text-align: center;
}

.error h1 {
  padding-top: 2rem;
  margin-bottom: 2rem;
  color: #e51c23;
  font-family: "Spectral", georgia, times, serif;
  font-weight: 400;
  font-size: 6rem;
}

.error .icon {
  height: 8rem !important;
  width: 8rem !important;
}

.error .icon path {
  fill: none;
}

.error p {
  width: 50%;
  margin: 2rem auto;
  font-size: 2rem;
  color: #607d8b;
}

.error .btn {
  border-width: 2px;
  font-weight: 500;
}

