/* xs */

@media (max-width: 543px) {
  nav.nav-main {
    height: 3rem;
    line-height: 3rem;
  }

  nav.nav-main ul li {
    float: none;
    text-align: center;
  }

  nav.nav-main ul li a.active {
    padding-bottom: 0;
    font-weight: 400;
    font-size: 1.5rem;
  }

  nav.nav-main ul li a.logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  nav.nav-main ul li a.logo .icon {
    height: 2.75rem;
    width: 2.75rem;
  }

  #navGlobalMobile ul {
    margin: 0;
    padding: 0;
  }

  #navGlobalMobile ul li {
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    list-style: none;
  }

  #navGlobalMobile ul li a {
    font-family: "Overpass", helvetica, arial, sans-serif;
    font-size: 20px;
  }

  header {
    height: auto;
    border-top: none;
  }

  header .brand {
    display: block;
    margin: 1rem auto;
    text-align: center;
    height: auto;
  }

  header nav.nav-sub {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    background: transparent;
    border: none;
  }

  header nav.nav-sub a {
    display: block;
    line-height: 2.5;
    margin-left: 0;
    text-align: center;
    font-size: 1.15em;
  }

  section h1 {
    text-align: center;
  }

  section h1 small {
    display: block;
    margin-top: 8px;
  }

  section dl dt {
    font-size: 125%;
  }

  footer {
    display: none;
  }

  .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .media .media-body .panel:before {
    display: none;
  }

  .media .media-body .panel .panel-heading .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .discussion-summary {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 0 0 30px 0;
  }
}

/* sm */

@media (min-width: 544px) and (max-width: 767px) {
  nav.nav-main ul li {
    width: 100%;
    text-align: center;
  }

  nav.nav-main ul li a.active {
    background: none;
  }

  nav.nav-main ul li a .arrow {
    bottom: -4px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background: #252728;
  }

  #navGlobalMobile ul {
    margin: 0;
    padding: 0;
  }

  #navGlobalMobile ul li {
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    list-style: none;
  }

  #navGlobalMobile ul li a {
    font-family: "Overpass", helvetica, arial, sans-serif;
    font-size: 20px;
  }

  header .brand {
    margin: 1rem auto;
  }

  .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .media .media-body .panel:before {
    display: none;
  }

  .media .media-body .panel .panel-heading {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }

  .media .media-body .panel .panel-heading .panel-title {
    display: none;
  }

  .media .media-body .panel .panel-heading .timestamp {
    display: none;
  }

  .media .media-body .panel .panel-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .discussion-summary {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 0 0 30px 0;
  }
}

/* md */

@media (min-width: 768px) and (max-width: 991px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  nav.nav-main ul li {
    width: 100%;
    text-align: center;
  }

  nav.nav-main ul li a.active {
    background: none;
  }

  nav.nav-main ul li a .arrow {
    bottom: -4px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background: #252728;
  }

  #navGlobalMobile ul {
    margin: 0;
    padding: 0;
  }

  #navGlobalMobile ul li {
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    list-style: none;
  }

  #navGlobalMobile ul li a {
    font-family: "Overpass", helvetica, arial, sans-serif;
    font-size: 20px;
  }

  header .brand {
    margin: 1rem auto;
  }
}

/* lg */

@media (min-width: 992px) and (max-width: 1199px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

/* xl */

@media (min-width: 1200px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

