@import "_variables";

.data-list {
	margin-bottom: 2rem;

	> div:nth-child(odd) {
		background-color: $color-blue-grey-50;
		border-radius: $radius;
	}

	.list-item-title {
		margin-bottom: 0;
		display: block;

		font-size: $font-md;
		font-weight: 400;
		color: $color-blue-grey-400;

		&.updated {
			font-weight: 500;
			color: $color-blue-grey-700;
		}
	}

	.badge {
		border-radius: $radius-sm;

		a {
			color: $color-white !important;
			font-weight: 500;

			&:hover {
				color: $color-white !important;
			}
		}
	}
}
