@import "_colors";

$font-primary: helvetica, arial, sans-serif;
$font-georgia: georgia, times, serif;
$font-titles: "Roboto Slab", $font-georgia;
$font-special: "Exo 2", $font-primary;
$font-base: "Roboto", $font-primary;
$font-mono: "Roboto Mono", monospaced;
$font-size: 16px;
$font-mini: 10px;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 28px;

$color-primary: #0288d1;
$color-primary-bright: #4fc3f7;
$color-primary-light: #03a9f4;
$color-primary-dark: #01579b;
$color-danger: #e51c23;
$color-danger-bright: lighten($color-danger, 35%);
$color-danger-light: lighten($color-danger, 15%);
$color-danger-dark: darken($color-danger, 5%);
$color-success: #8bc34a;
$color-success-bright: lighten($color-success, 30%);
$color-success-light: lighten($color-success, 10%);
$color-success-dark: darken($color-success, 20%);
$color-warning: #ffc107;
$color-warning-bright: lighten($color-warning, 30%);
$color-warning-light: lighten($color-warning, 10%);
$color-warning-dark: darken($color-warning, 20%);
$color-info: #03a9f4;
$color-info-bright: lighten($color-info, 30%);
$color-info-light: lighten($color-info, 10%);
$color-info-dark: darken($color-info, 20%);
$color-white: #fff;
$color-dark: #444;
$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-subtle: #ededed;
$color-subtle-dark: $color-blue-grey-200;
$color-gray: #888;
$color-gray-dark: #666;
$color-gray-medium: #999;
$color-gray-light: #ddd;
$color-gray-blue: #607d8b;
$color-body: #fbfbfb;
$color-nav-main: #252728;

$radius: 0.25rem;
$radius-sm: 0.2rem;
$radius-lg: 0.3rem;
$radius-xl: 5rem;
$line-height: 1.75;
$spacing-sm: 8px;
$spacing: 15px;
$spacing-lg: 30px;
$footer-height: 200px;

// Bootstrap overrides
$border-radius: $radius !default;
$border-radius-lg: $radius-lg !default;
$border-radius-sm: $radius-sm !default;

$brand-primary: $color-primary !default;
$brand-success: $color-success !default;
$brand-info: $color-info !default;
$brand-warning: $color-warning !default;
$brand-danger: $color-danger !default;

$text-muted: $color-blue-grey-500;
$list-group-disabled-color: $color-blue-grey-300;
$pagination-disabled-color: $color-blue-grey-200;

$font-family-sans-serif: $font-base !default;
$font-family-serif: $font-titles !default;
$font-family-monospaced: $font-mono !default;

$panel-default-text: $color-gray-blue !default;
$panel-default-border: $color-gray-light !default;
$panel-default-heading-bg: $color-subtle !default;

$panel-success-text: $color-success-dark !default;
$panel-success-border: $color-success-light !default;
$panel-success-heading-bg: $color-success-bright !default;

$panel-info-text: $color-info-dark !default;
$panel-info-border: $color-info-light !default;
$panel-info-heading-bg: $color-info-bright !default;

$panel-warning-text: $color-warning-dark !default;
$panel-warning-border: $color-warning-light !default;
$panel-warning-heading-bg: $color-warning-bright !default;

$panel-danger-text: $color-danger !default;
$panel-danger-border: $color-danger-light !default;
$panel-danger-heading-bg: $color-danger-bright !default;
