@import "_variables";
@import "~bootstrap/scss/bootstrap";
@import "~quill/dist/quill.core.css", "~quill/dist/quill.bubble.css";
//@import "~at.js/dist/css/jquery.atwho.css";
@import "~tributejs/scss/tribute";
@import "_data-tables", "_data-lists", "_panels", "_mixins", "_timeline", "_notifications";
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,500,500i|Roboto+Mono|Roboto+Slab:700|Roboto:400,500,700');

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	position: relative;
	z-index: -100;

	background: $color-body;
	color: $color-dark;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

nav.nav-main {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 20;
	height: 40px;
	line-height: 40px;

	background: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgb(0, 75, 118);

	.nav-container {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.nav-left {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: auto;
	}

	.nav-right {
		display: flex;
		align-items: center;

		.js-contact {
			padding: 0 0.75rem;
		}

		.js-notifications {
			position: relative;
			padding: 0 0.75rem;

			.unread {
				position: absolute;
				bottom: 8px;
				right: 6px;
				height: 8px;
				width: 8px;

				border-radius: 100px;
				background: $color-amber-700;
			}
		}

		.dropdown {
			.dropdown-toggle {
				display: flex;
				align-items: center;
			}
		}
	}

	a {
		position: relative;
		display: inline-block;
		padding: 0 1.5rem;

		font-size: $font-size-sm;
		font-family: $font-special;
		font-weight: 300;
		color: rgba(255, 255, 255, 0.3);

		.icon {
			fill: rgba(255, 255, 255, 0.3);
			vertical-align: text-top;
		}

		&.logo {
			display: flex;
			align-items: center;

			font-style: italic;

			.icon {
				height: 1.75rem;
				width: 1.75rem;
				margin-right: 0.125rem;

				fill: rgba(255, 255, 255, 1) !important;

				path {
					fill: rgba(255, 255, 255, 1) !important;
				}
			}
		}

		&:hover {
			background: rgba(255, 255, 255, 0.075);
			text-decoration: none;
			color: rgba(255, 255, 255, 0.65);

			.icon {
				fill: rgba(255, 255, 255, 0.65);
			}

			.user-icon {
				.icon {
					fill: $color-subtle;

					path {
						fill: $color-subtle;
					}
				}
			}
		}

		&.active {
			padding-bottom: 1px;

			font-weight: 500;
			color: $color-white;
			background: $color-primary;
			border-left: 1px solid rgb(0, 75, 118);
			border-right: 1px solid rgb(0, 75, 118);
		}
	}

	.dropdown-menu {
		.dropdown-header {
			font-family: $font-special;
			font-style: italic;
			color: $color-subtle-dark;
		}

		.dropdown-item {
			display: block;
			padding: 3px 1.5rem;
			line-height: 1.75;

			color: $color-subtle-darker;
			font-weight: normal;

			&:hover {
				color: $color-blue-grey-600;
				background-color: $color-subtle;
			}
		}
	}
}

header {
	position: relative;
	z-index: 10;
	height: 90px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	background: $color-primary;

	height: auto;
	border-top: none;

	.brand {
		line-height: 1;

		font-family: $font-special;
		font-size: 2rem;
		font-weight: 600;
		color: $color-white;
		font-style: italic;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
		letter-spacing: 0.01em;
		outline: none;

		.icon {
			height: 2em;
			width: 2em;
			margin-right: $space-xs;

			fill: $color-white !important;

			path {
				fill: $color-white !important;
			}
		}

		small {
			font-size: 1.5rem;
			font-weight: 300;
			text-transform: lowercase;
			font-variant: small-caps;
		}

		&:hover, &:active {
			text-decoration: none;
		}
	}

	nav.nav-sub {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 15;

		a {
			display: inline-block;
			margin-left: 2rem;

			color: rgba(255, 255, 255, .6);
			font-weight: 500;
			font-family: $font-special;

			&:hover {
				text-decoration: none;
				color: $color-white;
			}
		}

		.btn-outline-primary {
			@include button-outline-variant(rgba(255, 255, 255, 0.6), $color-primary);

			&:hover {
				background-color: $color-white !important;
			}

			&:focus {
				box-shadow: none !important;
			}
		}
	}
}

.search-forums {
	padding: $spacing 0;

	background: lighten($color-primary, 45%);
	border-bottom: 1px solid lighten($color-primary, 35%);
	font-family: $font-special;
	font-weight: 500;
	font-size: $font-lg;
	font-style: italic;
	color: $color-primary-dark;

	a {
		color: $color-primary;
		outline: none;
		text-decoration: underline;

		&:hover {
			color: $color-primary-light;
		}

		&:active {
			color: $color-primary;
			outline: none;
		}
	}

	.form-control {
		border: none;
		background: transparent;
		color: $color-primary-dark;
		box-shadow: none;
		font-family: $font-special;
		font-style: italic;

		&::-webkit-input-placeholder {
		    color: $color-primary-light;
		}
		&:-moz-placeholder {
		   color: $color-primary-light;
		   opacity: 1;
		}
		&::-moz-placeholder {
		   color: $color-primary-light;
		   opacity: 1;
		}
		&:-ms-input-placeholder {
		   color: $color-primary-light;
		}
	}

	.input-group-addon {
		background: transparent;
		border: none;

		svg {
			height: 35px;
			width: 35px;

			fill: $color-primary;

			path {
				fill: $color-primary;
			}
		}
	}
}

main {
	margin: $spacing-lg 0 0 0;
	padding-bottom: $footer-height + 40px;

	a  {
		color: $color-primary;
		outline: none;

		.icon {
			fill: $color-primary;

			path {
				fill: $color-primary;
			}
		}

		&:hover {
			color: $color-primary-light;

			.icon {
				fill: $color-primary-light;

				path {
					fill: $color-primary-light;
				}
			}
		}

		&:active {
			color: $color-primary;
			outline: none;
		}
	}

	h1 {
		margin-top: 0;
		margin-bottom: $spacing;

		font-family: $font-titles;
		font-weight: 700;
		color: $color-primary;

		&.discussion-header {
			margin-bottom: $spacing-sm;
		}
	}

	h2, h3, h4 {
		margin-top: 0;

		font-family: $font-special;
		font-weight: 500;
		font-style: italic;
		color: $color-primary-light;
	}

	h3 {
		color: darken($color-primary-bright, 5%);
	}

	h4 {
		color: $color-primary-dark;
	}

	ul, ol {
		li {
			margin-bottom: 5px;
			line-height: $line-height;
			position: relative;

			font-size: $font-size;
		}
	}

	ul {
		list-style-type: square;
	}

	dl {
		dt {
			margin-top: 8px;
			line-height: $line-height;

			font-family: $font-special;
			font-size: $font-md;
			font-weight: 600;
		}

		dd {
			margin-bottom: 2px;
			line-height: $line-height;

			font-size: $font-size;

			strong {
				font-size: $font-size;
			}
		}
	}
}

footer {
	width: 100%;
	height: $footer-height;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: $spacing-lg 0;
	line-height: 1.75;

	background: $color-nav-main;
	color: $color-white;
	border-top: 1px solid rgba(0, 0, 0, .5);
	font-size: $font-sm;

	h2 {
		margin-top: 0;
		line-height: $line-height;

		font-family: $font-special;
		font-weight: 500;
		font-size: $font-lg;
		font-style: italic;
		color: $color-white;
	}

	a {
		color: rgba(255, 255, 255, .5);
		border-bottom: 1px solid transparent;

		&:hover {
			text-decoration: none;
			color: $color-primary-bright;
			border-color: $color-primary-bright;
		}
	}

	ul.list-unstyled {
		li {
			text-align: right;
		}
	}
}

.form-control {
	font-family: $font-base;
}

.has-danger {
	label, .form-control-feedback {
		color: $color-danger;
	}

	.form-control {
		border-color: $color-danger;
	}
}

svg.icon {
	height: 20px;
	width: 20px;

	&.xs {
		height: 0.5em;
		width: 0.5em;
	}

	&.sm {
		height: 1em;
		width: 1em;
	}

	&.md {
		height: 1.5em;
		width: 1.5em;
	}

	&.lg {
		height: 2em;
		width: 2em;
	}
}

.panel {
	margin: $spacing 0;

	.panel-heading {
		.panel-title {
			font-weight: 500;
			font-family: $font-base;
			font-style: normal;
		}
	}

	.panel-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.btn-toolbar {
			margin: 0;
		}

		a, button {
			line-height: 1;

			border: 1px solid transparent;

			&.btn {
				display: flex;
				align-items: center;
			}

			.icon, .favorites-icon {
				fill: $color-gray-blue;
			}

			&:hover {
				text-decoration: none;

				.icon, .favorites-icon {
					fill: darken($color-gray-blue, 15%);
				}
			}
		}

		button {
			background: transparent;
		}
	}

	&.panel-default {
		.panel-heading {
			.panel-title {
				a {
					&:hover {
						color: $color-gray-blue;
					}
				}
			}

			.icon {
				fill: $color-gray-blue;
			}
		}

		.panel-footer {
			border-color: lighten($color-gray-light, 5%);
			background-color: lighten($color-subtle, 6%);

			a, button {
				&.btn {
					color: $color-gray-blue;

					.icon, path, .favorites-icon {
						fill: $color-gray-blue;
					}

					&:hover {
						color: darken($color-gray-blue, 15%);
						border-color: lighten($color-gray-light, 2.5%);
						background-color: lighten($color-subtle, 3%);

						.icon, path, .favorites-icon {
							fill: darken($color-gray-blue, 15%);
						}
					}

					&.btn-liked {
						background-color: #ededed;
						color: $color-gray-blue;

						.icon, path {
							fill: $color-gray-blue;
						}
					}
				}
			}
		}
	}

	&.panel-danger {
		.panel-heading {
			.panel-title {
				a {
					&:hover {
						color: $color-danger-dark;
					}
				}
			}
		}

		.panel-footer {
			color: $color-danger;
			border-color: lighten($color-danger-light, 20%);
			background-color: lighten($color-danger-bright, 13%);

			a, button {
				color: $color-danger-dark;
				border: 1px solid transparent;
				border-radius: $radius;
				fill: $color-danger-dark;

				path {
					fill: $color-danger-dark;
				}

				&:hover {
					color: darken($color-danger-dark, 15%);
					text-decoration: none;
					border-color: lighten($color-danger-light, 17%);
					background-color: lighten($color-danger-bright, 10%);
					fill: darken($color-danger-dark, 15%);

					path {
						fill: darken($color-danger-dark, 15%);
					}
				}
			}
		}
	}

	&.panel-warning {
		.panel-heading {
			.panel-title {
				a {
					&:hover {
						color: $color-warning-dark;
					}
				}
			}
		}

		.panel-footer {
			color: $color-warning-dark;
			border-color: lighten($color-warning-light, 20%);
			background-color: lighten($color-warning-bright, 13%);

			a, button {
				color: $color-warning-dark;
				border: 1px solid transparent;
				border-radius: $radius;
				fill: $color-warning-dark;

				path {
					fill: $color-warning-dark;
				}

				&:hover {
					color: darken($color-warning-dark, 15%);
					text-decoration: none;
					border-color: lighten($color-warning-light, 10%);
					background-color: lighten($color-warning-bright, 6.5%);
					fill: darken($color-warning-dark, 15%);

					path {
						fill: darken($color-warning-dark, 15%);
					}
				}
			}
		}
	}

	&.panel-info {
		.panel-heading {
			.panel-title {
				a {
					&:hover {
						color: $color-info-dark;
					}
				}
			}
		}

		.panel-footer {
			color: $color-info-dark;
			border-color: lighten($color-info-light, 20%);
			background-color: lighten($color-info-bright, 13%);

			a, button {
				color: $color-info-dark;
				border: 1px solid transparent;
				border-radius: $radius;
				fill: $color-info-dark;

				path {
					fill: $color-info-dark;
				}

				&:hover {
					color: darken($color-info-dark, 15%);
					text-decoration: none;
					border-color: lighten($color-info-light, 17%);
					background-color: lighten($color-info-bright, 10%);
					fill: darken($color-info-dark, 15%);

					path {
						fill: darken($color-info-dark, 15%);
					}
				}
			}
		}
	}

	&.panel-success {
		.panel-heading {
			.panel-title {
				a {
					&:hover {
						color: $color-success-dark;
					}
				}
			}

			path, .icon {
				fill: $color-success-dark;
			}

			.text-muted {
				color: inherit !important;
			}
		}

		.panel-footer {
			color: $color-success-dark;
			border-color: lighten($color-success-light, 20%);
			background-color: lighten($color-success-bright, 13%);

			a, button {
				&.btn {
					color: $color-success-dark;
					border: 1px solid transparent;
					border-radius: $radius;

					path, .icon {
						fill: $color-success-dark;
					}

					&:hover {
						color: darken($color-success-dark, 15%);
						text-decoration: none;
						border-color: lighten($color-success-light, 10%);
						background-color: lighten($color-success-bright, 6.5%);

						path, .icon {
							fill: darken($color-success-dark, 15%);
						}
					}

					&.btn-liked {
						background-color: $color-success-bright;
						color: $color-success-dark;

						.icon, path {
							fill: $color-success-dark;
						}
					}
				}
			}
		}
	}
}

.media {
	position: relative;
	margin: 0 0 $spacing-lg 0;

	.media-left {
		padding-right: 20px;
	}

	.media-body {
		position: relative;
		overflow: visible;

		.panel {
			margin: 0;

			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 19px;
				left: -7px;
				width: 14px;
				height: 14px;

				background: #ededed;
				border-left: 1px solid #ddd;
				border-top: 1px solid #ddd;
				border-top-left-radius: 2px;
				transform: rotate(-45deg);
			}

			&.panel-success {
				&:before {
					background: $color-success-bright;
					border-color: $color-success-light;
				}

				.panel-heading {
					.text-muted, .text-subtle {
						color: inherit !important;
					}
				}
			}

			&.panel-info {
				&:before {
					background: $color-info-bright;
					border-color: $color-info-light;
				}
			}

			&.panel-warning {
				&:before {
					background: $color-warning-bright;
					border-color: $color-warning-light;
				}
			}

			&.panel-danger {
				&:before {
					background: $color-danger-bright;
					border-color: $color-danger-light;
				}
			}

			.panel-heading {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				.panel-title {
					margin-right: auto;
					padding: 0;
					line-height: 29px;

					font-size: $font-md;
				}

				.timestamp {
					font-weight: 400;
					font-style: normal;
					color: $color-subtle-darker;
				}

				.dropdown {
					margin-left: auto !important;
				}
			}
		}
	}
}

.breadcrumb {
	padding: 0 0 $spacing-sm 3px;

	background-color: transparent;

	.breadcrumb-item {
		a {
			font-family: $font-special;
			font-weight: 500;
			font-size: $font-sm;
			font-style: italic;
			color: $color-gray-blue;
		}

		&.active {
			a {
				color: $color-primary;
			}
		}
	}
}

.list-group {
	margin: $spacing 0;

	.list-group-item {
		&:first-child {
			border-radius: $radius $radius 0 0;
		}

		&:last-child {
			border-radius: 0 0 $radius $radius;
		}
	}
}

.forum-controls {
	h6 {
		padding-left: 0.15rem;

		font-family: $font-special;
		font-weight: 500;
		font-style: italic;
		color: $color-gray-blue;
	}

	.list-group {
		.list-group-item {
			font-size: 15px;
			font-weight: 500;

			em {
				font-size: 13px;
				font-weight: 400;
			}

			.icon {
				margin-right: 0.75rem;
			}

			&.disabled {
				.icon {
					fill: $list-group-disabled-color;

					path {
						fill: $list-group-disabled-color;
					}
				}
			}
		}
	}
}

.discussion-offset {
	position: relative;
	margin: 0 0 $spacing-lg 70px;
}

.discussion-summary {
	position: relative;
	display: inline-flex;
	align-items: center;
	margin: 0 0 $spacing-lg 70px;
	padding: $spacing-sm $spacing;

	border: 1px solid lighten($color-gray-light, 5%);
	background-color: lighten($color-subtle, 6%);
	font-size: $font-sm;
	color: $color-gray-blue;
	font-family: $font-special;
	font-weight: 500;
	font-style: italic;
	border-radius: $radius-sm;

	.icon {
		margin-right: $space-sm;
	}

	label {
		display: inline-flex;
		align-items: center;
		margin-bottom: 0;

		font-weight: 500;

		input[type=checkbox] {
			margin-right: $space-xs;
		}
	}
}

.btn {
	line-height: 1;

	font-family: $font-special;
	font-weight: 500;
	border-width: 2px;

	&:focus {
		outline: none;
		box-shadow: none;
	}

	&.btn-sm {
		.icon {
			height: 0.5em;
			width: 0.5em;
		}
	}

	&.btn-lg {
		.icon {
			height: 1.5em;
			width: 1.5em;
		}
	}

	&.btn-circle {
		border-radius: 90rem;
	}

	&.btn-primary {
		@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	}
	&.btn-secondary {
		@include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
	}
	&.btn-info {
		@include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
	}
	&.btn-success {
		@include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
	}
	&.btn-warning {
		@include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
	}
	&.btn-danger {
		@include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
	}
	&.btn-dark {
		@include button-variant($btn-dark-color, $btn-dark-bg, $btn-dark-border);
	}

	&.btn-outline-primary {
		@include button-outline-variant($btn-primary-bg);
	}
	&.btn-outline-secondary {
		@include button-outline-variant($btn-secondary-border, $btn-secondary-color);
	}
	&.btn-outline-info {
		@include button-outline-variant($btn-info-bg);
	}
	&.btn-outline-success {
		@include button-outline-variant($btn-success-bg);
	}
	&.btn-outline-warning {
		@include button-outline-variant($btn-warning-bg);
	}
	&.btn-outline-danger {
		@include button-outline-variant($btn-danger-bg);
	}
	&.btn-outline-dark {
		@include button-outline-variant($btn-dark-bg);
	}
	
	&.btn-link-secondary {
		color: $color-blue-grey-400;
		font-size: $font-size;
		background: transparent;

		&:hover {
			color: $color-blue-grey-600;
		}
	}

	&.btn-link {
		color: $color-primary;
		font-size: $font-size;
	}

	&.btn-like {
		background: transparent;
		border: none;
		color: $color-gray-blue;
		fill: $color-gray-blue;

		path {
			fill: $color-gray-blue;
		}

		&:hover {
			fill: $color-pink-300 !important;

			path {
				fill: $color-pink-300 !important;
			}
		}
	}
}

.btn-group {
	margin-right: $space-sm;
}

table {
	.btn {
		padding: 1px 5px;
	}
}

.label {
	position: relative;

	font-weight: 400;
	border-radius: $radius-sm;

	a, a:hover, a:link, a:active, a:visited {
		color: $color-white;
	}

	&.label-warning {
		color: $color-warning-dark;
		background-color: $color-warning-bright;

		a {
			color: $color-warning-dark;
		}
	}

	&.label-success {
		background-color: $color-success;
	}

	&.label-info {
		background-color: $color-info;
	}

	&.label-default {
		background-color: $color-gray-blue;
	}

	&.label-danger {
		background-color: $color-danger;
	}

	&.label-primary {
		background-color: $color-primary;
	}

	&.label-lg {
		font-size: $font-size;
	}

	.icon {
		position: relative;
		display: inline-block;
		vertical-align: middle;

		.icn {
			font-size: 14px !important;
		}
	}
}

/*.pagination {
	> li {
		> a, > span {
			color: $color-primary;
			font-family: $font-special;
			font-weight: 500;

			&:hover {
				color: $color-primary-light;
			}
		}
	}

	> .active {
		> a, > span, > a:hover, > span:hover, > a:focus, > span:focus {
			background-color: $color-primary;
			font-family: $font-special;
			font-weight: 500;
		}
	}
}*/

.page-item {
	margin-bottom: 0;
	margin-right: 5px;

	a {
		path, .icon {
			fill: $color-gray-blue;
		}
	}

	&.active {
		.page-link {
			background-color: $color-primary;
		}
	}

	&.disabled {
		path, .icon {
			fill: $pagination-disabled-color;
		}

		.page-link {
			border: none;
			background-color: transparent;
			font-weight: 600;
			font-family: $font-special;
		}
	}

	&:first-child {
		.page-link {
			padding-bottom: 0.19rem;

			border-radius: $radius;
		}
	}

	&:last-child {
		.page-link {
			padding-bottom: 0.19rem;

			border-radius: $radius;
		}
	}
}

.page-link {
	padding: 0.4rem 0.75rem;

	background-color: transparent;
	border: none;
	color: $color-gray-blue;
	border-radius: 4px;
	font-weight: 600;
	font-family: $font-special;
}

.text-subtle {
	color: $color-subtle-dark;
	fill: $color-subtle-dark;

	path {
		fill: $color-subtle-dark;
	}
}
.text-subtle-darker {
	color: $color-gray-blue;
	fill: $color-gray-blue;

	path {
		fill: $color-gray-blue;
	}
}
.text-primary {
	color: $color-primary;
	fill: $color-primary;

	path {
		fill: $color-primary;
	}
}

.font-special { font-family: $font-special; }
.font-mono { font-family: $font-mono; }

.font-weight-3 { font-weight: 300; }
.font-weight-4 { font-weight: 400; }
.font-weight-5 { font-weight: 500; }
.font-weight-6 { font-weight: 600; }
.font-weight-7 { font-weight: 700; }
.font-weight-9 { font-weight: 900; }

.liked {
	color: $color-pink-300 !important;
	fill: $color-pink-300 !important;

	path {
		fill: $color-pink-300 !important;
	}
}

/*.answered {
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	top: 0.3rem;
	left: 2.45rem;

	background-color: $color-success;
	border: 0.2rem solid $color-body;
	text-align: center;
	border-radius: 90rem;

	.icon {
		float: left;
		margin: 3px 0 0 3px;
		height: 12px;
		width: 12px;

		path {
			fill: $color-white;
		}
	}
}

.data-list {
	> div:nth-child(odd) {
		.answered {
			border-color: $color-blue-grey-50;
		}
	}
}*/

.modal {
	.modal-header {
		.modal-title {
			color: $color-dark;
			font-family: $font-special;
			font-weight: 500;
			font-style: italic;
		}
	}
}

.alert {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	&.alert-success {
		.icon {
			fill: $color-success-dark;

			path {
				fill: $color-success-dark;
			}
		}
	}
}

form {
	label {
		font-weight: 500;
	}
}

.desktop {
	display: none;
}
.mobile {
	display: block;
}

.badge {
	font-weight: 400;

	&.badge-dark {
		background-color: $color-gray-blue;
	}
}

.swal2-modal {
	font-family: $font-base;
}

.hljs {
	padding: 1rem !important;

	border-radius: $radius;
}

.post-signature {
	margin-top: 2rem;
	padding-top: 2rem;

	border-top: 1px solid $color-subtle;
}

.avatar-container {
	display: flex;
	align-items: center;

	.avatar-label {
		display: flex;
		flex-direction: column;
	}

	.avatar {
		height: 50px;
		width: 50px;
		display: block;

		background-color: transparent;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		border-radius: 50%;

		&.xs {
			height: 24px;
			width: 24px;
		}

		&.sm {
			height: 36px;
			width: 36px;
		}

		&.md {
			height: 72px;
			width: 72px;
		}

		&.lg {
			height: 100px;
			width: 100px;
		}
	}

	.avatar-text {
		margin-left: 120px;

		font-weight: 500;
	}
	.avatar-text-xs {
		margin-left: 46px;
	}
	.avatar-text-sm {
		margin-left: 65px;
	}
}

.quill-editor-sm {
	min-height: 5rem !important;

	.ql-editor {
		min-height: 5rem !important;
	}
}

.ql-toolbar {
	border-color: rgba(0, 0, 0, 0.15) !important;
	border-bottom: none !important;
	background-color: $color-white;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;

	.ql-stroke {
		stroke: $color-subtle-dark !important;
	}

	.ql-fill {
		fill: $color-subtle-dark !important;
	}

	button {
		&:hover {
			.ql-stroke {
				stroke: $color-gray-blue !important;
			}

			.ql-fill {
				fill: $color-gray-blue !important;
			}
		}
	}
}

.ql-container {
	min-height: 15rem;

	background: $color-white;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
	font-size: $font-size !important;
	color: $color-dark !important;
}

.ql-container {
	font-family: $font-base;

	.ql-editor {
		min-height: 15rem;

		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: $radius;

		&.ql-blank {
			&::before {
				font-style: normal;
			}
		}

		p {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.ql-bubble {
	.ql-tooltip {
		.ql-toolbar {
			background-color: #444;
			border-radius: 50rem;
		}
	}
}

.tribute-container {
	margin-top: 5px;

	border-radius: $radius;
	border: 1px solid $color-blue-grey-100;

	ul {
		padding: 0;
		margin-top: 0;

		border-radius: $radius;
		background: $color-white;

		li {
			padding: 0.5rem;

			&:hover {
				background: $color-blue-100;
			}

			&.highlight {
				background: $color-blue-50;
			}

			&:first-child {
				border-top-left-radius: $radius;
				border-top-right-radius: $radius;
			}

			&:last-child {
				border-bottom-left-radius: $radius;
				border-bottom-right-radius: $radius;
			}
		}
	}
}

.mention-token {
	padding: 2px 4px;

	border-radius: $radius;
	background: $color-blue-50;
	border: 1px solid $color-blue-100;
	font-weight: 500;
	color: $color-blue-700;

	&:hover {
		background: $color-blue-100;
		border-color: $color-blue-200;
		color: $color-blue-800;
		text-decoration: none;
	}
}

.hidden {
	display: none !important;
}

[v-cloak] {
	display: none;
}
