@import "_variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import url(http://fonts.googleapis.com/css?family=Exo+2:300,300italic,500,500italic,600,600italic);

@import "_data-tables", "_data-lists", "_panels", "_mixins";

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	position: relative;
	z-index: -100;

	background: $color-body;
	color: $color-dark;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

nav.nav-main {
	position: relative;
	z-index: 100;
	height: 40px;
	line-height: 40px;

	background: $color-nav-main;
	color: $color-white;

	a {
		position: relative;
		display: inline-block;
		padding: 0 1.5rem;

		font-size: $font-size-sm;
		color: $color-gray;
		font-family: $font-special;
		font-weight: 500;

		&:hover {
			background: darken($color-nav-main, 1%);
			text-decoration: none;
			color: $color-subtle;

			.user-icon {
				.icon {
					path {
						fill: $color-subtle;
					}
				}
			}
		}

		&.active {
			color: #ffba00;
			background: darken($color-nav-main, 3%);

			.arrow {
				display: block;
			}
		}

		.arrow {
			position: absolute;
			z-index: 10;
			width: 10px;
			height: 10px;
			bottom: -5px;
			left: 50%;
			margin-left: -6px;
			display: none;

			border-left: 1px solid rgba(0, 0, 0, .5);
			border-top: 1px solid rgba(0, 0, 0, .5);
			background: darken($color-nav-main, 3%);
			transform: rotate(-135deg);
			border-top-left-radius: 3px;
		}

		.badge {
			margin-left: $spacing-sm;

			font-family: $font-base;
			font-weight: 500;
		}
	}

	ul {
		position: relative;
		margin: 0;
		padding: 0;

		list-style: none;

		li {
			position: relative;
			float: left;
			margin: 0 0 -1px 0;
			padding: 0;
		}

		&.dd {
			position: absolute;
			margin: 2px 0 0;
			padding: 5px 0;

			li {
				float: none;

				a {
					display: block;
					padding: 3px 20px;
				}
			}
		}
	}

	.user-icon {
		.icon {
			margin: 0 5px 0 0;
			vertical-align: text-bottom;

			path {
				fill: $color-gray;
			}
		}
	}
}

header {
	position: relative;
	z-index: 10;
	height: 90px;

	border-top: 1px solid rgba(0, 0, 0, .5);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	background: $color-primary;

	.brand {
		line-height: 1;

		font-family: $font-special;
		font-size: 2rem;
		font-weight: 600;
		color: $color-white;
		font-style: italic;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
		letter-spacing: 0.01em;
		outline: none;

		small {
			font-size: 1.5rem;
			font-weight: 300;
			text-transform: lowercase;
			font-variant: small-caps;
		}

		&:hover, &:active {
			text-decoration: none;
		}
	}

	nav.nav-sub {
		position: relative;
		z-index: 15;

		a {
			display: inline-block;
			margin-left: 2rem;

			color: rgba(255, 255, 255, .6);
			font-weight: 500;
			font-family: $font-special;

			&:hover {
				text-decoration: none;
				color: $color-white;
			}
		}
	}
}

.search-forums {
	padding: $spacing 0;

	background: lighten($color-primary, 45%);
	border-bottom: 1px solid lighten($color-primary, 35%);
	font-family: $font-special;
	font-weight: 500;
	font-size: $font-lg;
	font-style: italic;
	color: $color-primary-dark;

	a {
		color: $color-primary;
		outline: none;
		text-decoration: underline;

		&:hover {
			color: $color-primary-light;
		}

		&:active {
			color: $color-primary;
			outline: none;
		}
	}

	.form-control {
		border: none;
		background: transparent;
		color: $color-primary-dark;
		box-shadow: none;
		font-family: $font-special;
		font-style: italic;

		&::-webkit-input-placeholder {
		    color: $color-primary-light;
		}
		&:-moz-placeholder {
		   color: $color-primary-light;
		   opacity: 1;
		}
		&::-moz-placeholder {
		   color: $color-primary-light;
		   opacity: 1;
		}
		&:-ms-input-placeholder {
		   color: $color-primary-light;
		}
	}

	.input-group-addon {
		background: transparent;
		border: none;

		svg {
			height: 35px;
			width: 35px;

			path {
				fill: $color-primary;
			}
		}
	}
}

main {
	margin: $spacing-lg 0 0 0;
	padding-bottom: $footer-height + 40px;

	a  {
		color: $color-primary;
		outline: none;

		.icon {
			path {
				fill: $color-primary;
			}
		}

		&:hover {
			color: $color-primary-light;

			.icon {
				path {
					fill: $color-primary-light;
				}
			}
		}

		&:active {
			color: $color-primary;
			outline: none;
		}
	}

	h1 {
		margin-top: 0;
		margin-bottom: $spacing;

		font-family: $font-titles;
		font-weight: 700;
		color: $color-primary;

		&.discussion-header {
			margin-bottom: $spacing-sm;
		}
	}

	h2, h3, h4 {
		margin-top: 0;

		font-family: $font-special;
		font-weight: 500;
		font-style: italic;
		color: $color-primary-light;
	}

	h3 {
		color: darken($color-primary-bright, 5%);
	}

	h4 {
		color: $color-primary-dark;
	}

	ul, ol {
		li {
			margin-bottom: 5px;
			line-height: $line-height;
			position: relative;

			font-size: $font-size;
		}
	}

	ul {
		list-style-type: square;
	}

	dl {
		dt {
			margin-top: 8px;
			line-height: $line-height;

			font-family: $font-special;
			font-size: $font-md;
			font-weight: 600;
		}

		dd {
			margin-bottom: 2px;
			line-height: $line-height;

			font-size: $font-size;

			strong {
				font-size: $font-size;
			}
		}
	}
}

footer {
	width: 100%;
	height: $footer-height;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: $spacing-lg 0;
	line-height: 1.75;

	background: $color-nav-main;
	color: $color-white;
	border-top: 1px solid rgba(0, 0, 0, .5);
	font-size: $font-sm;

	h2 {
		margin-top: 0;
		line-height: $line-height;

		font-family: $font-special;
		font-weight: 500;
		font-size: $font-lg;
		font-style: italic;
		color: $color-white;
	}

	a {
		color: rgba(255, 255, 255, .5);
		border-bottom: 1px solid transparent;

		&:hover {
			text-decoration: none;
			color: $color-primary-bright;
			border-color: $color-primary-bright;
		}
	}

	ul.list-unstyled {
		li {
			text-align: right;
		}
	}
}

.form-control {
	font-family: $font-base;
}

svg.icon {
	height: 20px;
	width: 20px;

	&.sm {
		height: 0.5em;
		width: 0.5em;
	}

	&.md {
		height: 1.5em;
		width: 1.5em;
	}

	&.lg {
		height: 2em;
		width: 2em;
	}
}

.avatar {
	height: 50px;
	width: 50px;
	display: block;

	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 50%;

	&.xs {
		height: 24px;
		width: 24px;
	}

	&.sm {
		height: 36px;
		width: 36px;
	}

	&.md {
		height: 72px;
		width: 72px;
	}

	&.lg {
		height: 100px;
		width: 100px;
	}
}

.avatar-text {
	margin-left: 120px;

	font-weight: 500;
}
.avatar-text-xs {
	margin-left: 46px;
}
.avatar-text-sm {
	margin-left: 65px;
}

.panel {
	margin: $spacing 0;

	.panel-heading {
		.panel-title {
			font-weight: 600;
			font-family: $font-special;
			font-style: italic;
		}
	}

	.panel-footer {
		.btn-toolbar {
			margin: 0;
		}

		a {
			line-height: 1;

			path {
				fill: $color-gray-blue;
			}

			&:hover {
				path {
					fill: darken($color-gray-blue, 15%);
				}
			}
		}
	}

	&.panel-default {
		.panel-heading {
			.panel-title {
				a {
					&:hover {
						color: $color-gray-blue;
					}
				}
			}

			path {
				fill: $color-gray-blue;
			}
		}

		.panel-footer {
			border-color: lighten($color-gray-light, 5%);
			background-color: lighten($color-subtle, 6%);

			a {
				color: $color-gray-blue;
				border: 1px solid transparent;
				border-radius: $radius;

				path {
					fill: $color-gray-blue;
				}

				&:hover {
					color: darken($color-gray-blue, 15%);
					text-decoration: none;
					border-color: lighten($color-gray-light, 2.5%);
					background-color: lighten($color-subtle, 3%);

					path {
						fill: darken($color-gray-blue, 15%);
					}
				}
			}
		}
	}

	&.panel-danger {
		.panel-heading {
			.panel-title {
				a {
					&:hover {
						color: $color-danger-dark;
					}
				}
			}
		}

		.panel-footer {
			color: $color-danger;
			border-color: lighten($color-danger-light, 20%);
			background-color: lighten($color-danger-bright, 13%);

			a {
				color: $color-danger-dark;
				border: 1px solid transparent;
				border-radius: $radius;

				path {
					fill: $color-danger-dark;
				}

				&:hover {
					color: darken($color-danger-dark, 15%);
					text-decoration: none;
					border-color: lighten($color-danger-light, 17%);
					background-color: lighten($color-danger-bright, 10%);

					path {
						fill: darken($color-danger-dark, 15%);
					}
				}
			}
		}
	}

	&.panel-warning {
		.panel-heading {
			.panel-title {
				a {
					&:hover {
						color: $color-warning-dark;
					}
				}
			}
		}

		.panel-footer {
			color: $color-warning-dark;
			border-color: lighten($color-warning-light, 20%);
			background-color: lighten($color-warning-bright, 13%);

			a {
				color: $color-warning-dark;
				border: 1px solid transparent;
				border-radius: $radius;

				path {
					fill: $color-warning-dark;
				}

				&:hover {
					color: darken($color-warning-dark, 15%);
					text-decoration: none;
					border-color: lighten($color-warning-light, 10%);
					background-color: lighten($color-warning-bright, 6.5%);

					path {
						fill: darken($color-warning-dark, 15%);
					}
				}
			}
		}
	}

	&.panel-info {
		.panel-heading {
			.panel-title {
				a {
					&:hover {
						color: $color-info-dark;
					}
				}
			}
		}

		.panel-footer {
			color: $color-info-dark;
			border-color: lighten($color-info-light, 20%);
			background-color: lighten($color-info-bright, 13%);

			a {
				color: $color-info-dark;
				border: 1px solid transparent;
				border-radius: $radius;

				path {
					fill: $color-info-dark;
				}

				&:hover {
					color: darken($color-info-dark, 15%);
					text-decoration: none;
					border-color: lighten($color-info-light, 17%);
					background-color: lighten($color-info-bright, 10%);

					path {
						fill: darken($color-info-dark, 15%);
					}
				}
			}
		}
	}

	&.panel-success {
		.panel-heading {
			.panel-title {
				a {
					&:hover {
						color: $color-success-dark;
					}
				}
			}

			path {
				fill: $color-success-dark;
			}

			.text-muted {
				color: inherit !important;
			}
		}

		.panel-footer {
			color: $color-success-dark;
			border-color: lighten($color-success-light, 20%);
			background-color: lighten($color-success-bright, 13%);

			a {
				color: $color-success-dark;
				border: 1px solid transparent;
				border-radius: $radius;

				path {
					fill: $color-success-dark;
				}

				&:hover {
					color: darken($color-success-dark, 15%);
					text-decoration: none;
					border-color: lighten($color-success-light, 10%);
					background-color: lighten($color-success-bright, 6.5%);

					path {
						fill: darken($color-success-dark, 15%);
					}
				}
			}
		}
	}
}

.media {
	position: relative;
	margin: 0 0 $spacing-lg 0;

	.media-left {
		padding-right: 20px;
	}

	.media-body {
		position: relative;
		overflow: visible;

		.panel {
			margin: 0;

			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 19px;
				left: -7px;
				width: 14px;
				height: 14px;

				background: #ededed;
				border-left: 1px solid #ddd;
				border-top: 1px solid #ddd;
				border-top-left-radius: 2px;
				transform: rotate(-45deg);
			}

			&.panel-success {
				&:before {
					background: $color-success-bright;
					border-color: $color-success-light;
				}

				.panel-heading {
					.text-muted, .text-subtle {
						color: inherit !important;
					}
				}
			}

			&.panel-info {
				&:before {
					background: $color-info-bright;
					border-color: $color-info-light;
				}
			}

			&.panel-warning {
				&:before {
					background: $color-warning-bright;
					border-color: $color-warning-light;
				}
			}

			&.panel-danger {
				&:before {
					background: $color-danger-bright;
					border-color: $color-danger-light;
				}
			}

			.panel-heading {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.panel-title {
					margin-right: auto;
					padding: 0;
					line-height: 29px;

					font-size: $font-md;

					.timestamp {
						font-weight: 400;
						font-style: normal;
						font-size: $font-sm;
					}
				}
			}
		}
	}
}

.breadcrumb {
	padding: 0 0 $spacing-sm 3px;

	background-color: transparent;

	.breadcrumb-item {
		a {
			font-family: $font-special;
			font-weight: 500;
			font-size: $font-sm;
			font-style: italic;
			color: $color-gray-blue;
		}

		&.active {
			a {
				color: $color-primary;
			}
		}
	}
}

.list-group {
	margin: $spacing 0;

	.list-group-item {
		&:first-child {
			border-radius: $radius $radius 0 0;
		}

		&:last-child {
			border-radius: 0 0 $radius $radius;
		}
	}
}

.forum-controls {
	h6 {
		padding-left: 0.15rem;

		font-family: $font-special;
		font-weight: 500;
		font-style: italic;
		color: $color-gray-blue;
	}

	.list-group {
		.list-group-item {
			font-size: 15px;
			font-weight: 500;

			em {
				font-size: 13px;
				font-weight: 400;
			}

			.icon {
				margin-right: 0.75rem;
			}

			&.disabled {
				.icon {
					path {
						fill: $list-group-disabled-color;
					}
				}
			}
		}
	}
}

.discussion-summary {
	position: relative;
	display: inline-block;
	margin: 0 0 $spacing-lg 70px;
	padding: $spacing-sm $spacing;

	border: 1px solid lighten($color-gray-light, 5%);
	background-color: lighten($color-subtle, 6%);
	font-size: $font-sm;
	color: $color-gray-blue;
	font-family: $font-special;
	font-weight: 500;
	font-style: italic;
	border-radius: $radius-sm;

	label {
		margin-bottom: 0;

		font-weight: 500;

		input[type=checkbox] {
			margin-top: 6px;
		}
	}
}

.btn {
	line-height: 1;

	font-family: $font-special;
	font-weight: 500;
	border-width: 2px;

	&:focus {
		outline: none;
		box-shadow: none;
	}

	&.btn-sm {
		.icon {
			height: 0.5em;
			width: 0.5em;
		}
	}

	&.btn-lg {
		.icon {
			height: 1.5em;
			width: 1.5em;
		}
	}

	&.btn-primary {
		.icon {
			path {
				fill: $color-white;
			}
		}

		&:focus {
			color: $color-white;
		}
	}

	&.btn-warning {
		@include button-variant($color-warning-dark, darken($color-warning-bright, 5%), darken($color-warning-bright, 5%));
	}

	&.btn-link {
		color: $color-primary;
		font-size: $font-size;
	}

	&.btn-link-secondary {
		color: $gray-light;
		font-size: $font-size;
	}

	&.btn-secondary {
		border-color: $color-gray-light;
	}

	&.btn-outline-secondary {
		color: $gray;

		.icon {
			path {
				fill: $gray;
			}
		}
	}

	&.btn-dark {
		@include button-variant($color-white, $color-gray-blue, $color-gray-blue);
	}

	&.btn-circle {
		border-radius: 90rem;
	}

	&.btn-like {
		background: transparent;
		border: none;
		color: $color-gray-blue;

		path {
			fill: $color-gray-blue;
		}

		&:hover {
			path {
				fill: $color-pink-300 !important;
			}
		}
	}
}

table {
	.btn {
		padding: 1px 5px;
	}
}

.label {
	position: relative;

	font-weight: 400;
	border-radius: $radius-sm;

	a, a:hover, a:link, a:active, a:visited {
		color: $color-white;
	}

	&.label-warning {
		color: $color-warning-dark;
		background-color: $color-warning-bright;

		a {
			color: $color-warning-dark;
		}
	}

	&.label-success {
		background-color: $color-success;
	}

	&.label-info {
		background-color: $color-info;
	}

	&.label-default {
		background-color: $color-gray-blue;
	}

	&.label-danger {
		background-color: $color-danger;
	}

	&.label-primary {
		background-color: $color-primary;
	}

	&.label-lg {
		font-size: $font-size;
	}

	.icon {
		position: relative;
		display: inline-block;
		vertical-align: middle;

		.icn {
			font-size: 14px !important;
		}
	}
}

/*.pagination {
	> li {
		> a, > span {
			color: $color-primary;
			font-family: $font-special;
			font-weight: 500;

			&:hover {
				color: $color-primary-light;
			}
		}
	}

	> .active {
		> a, > span, > a:hover, > span:hover, > a:focus, > span:focus {
			background-color: $color-primary;
			font-family: $font-special;
			font-weight: 500;
		}
	}
}*/

.page-item {
	margin-bottom: 0;
	margin-right: 5px;

	a {
		path {
			fill: $color-gray-blue;
		}
	}

	&.active {
		.page-link {
			background-color: $color-primary;
		}
	}

	&.disabled {
		path {
			fill: $pagination-disabled-color;
		}

		.page-link {
			border: none;
			background-color: transparent;
			font-weight: 600;
			font-family: $font-special;
		}
	}

	&:first-child {
		.page-link {
			padding-bottom: 0.19rem;

			border-radius: $radius;
		}
	}

	&:last-child {
		.page-link {
			padding-bottom: 0.19rem;

			border-radius: $radius;
		}
	}
}

.page-link {
	padding: 0.4rem 0.75rem;

	background-color: transparent;
	border: none;
	color: $color-gray-blue;
	border-radius: 4px;
	font-weight: 600;
	font-family: $font-special;
}

.text-subtle {
	color: $color-subtle-dark;

	path {
		fill: $color-subtle-dark;
	}
}
.text-subtle-darker {
	color: $color-gray-blue;

	path {
		fill: $color-gray-blue;
	}
}

.font-special { font-family: $font-special; }
.font-mono { font-family: $font-mono; }

.font-weight-3 { font-weight: 300; }
.font-weight-4 { font-weight: 400; }
.font-weight-5 { font-weight: 500; }
.font-weight-6 { font-weight: 600; }
.font-weight-7 { font-weight: 700; }
.font-weight-9 { font-weight: 900; }

.liked {
	color: $color-pink-300 !important;

	path {
		fill: $color-pink-300 !important;
	}
}

.answered {
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	top: 0.3rem;
	left: 2.45rem;

	background-color: $color-success;
	border: 0.2rem solid $color-body;
	text-align: center;
	border-radius: 90rem;

	.icon {
		float: left;
		margin: 3px 0 0 3px;
		height: 12px;
		width: 12px;

		path {
			fill: $color-white;
		}
	}
}

.data-list {
	> div:nth-child(odd) {
		.answered {
			border-color: $color-blue-grey-50;
		}
	}
}

.modal {
	.modal-header {
		.modal-title {
			color: $color-dark;
		}
	}
}
