@import "_variables";
//@import "~bootstrap/scss/bootstrap";
//@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,500,500i|Roboto+Mono|Roboto+Slab:700|Roboto:400,500,700');

body, html {
	background: $color-body;
}

.error {
	text-align: center;

	h1 {
		padding-top: 2rem;
		margin-bottom: 2rem;

		color: $color-danger;
		font-family: $font-titles;
		font-weight: 400;
		font-size: 6rem;
	}

	.icon {
		height: 8rem !important;
		width: 8rem !important;

		path {
			fill: none;
		}
	}

	p {
		width: 50%;
		margin: 2rem auto;

		font-size: 2rem;
		color: $color-gray-blue;
	}

	.btn {
		border-width: 2px;
		font-weight: 500;
	}
}
